@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Fonts Family
$font-family: 'Roboto Slab', serif;

// Fonts Size
$small-font-size: 1rem;
$normal-font-size: 1.4rem;
$middle-font-size: 1.8rem;
$large-font-size: 2.2rem;

// Font Weight
$low-font-weight: 200;
$normal-font-weight: 400;
$middle-font-weight: 600;
$high-font-weight: 800;

// Font Color
$title: #2E8B57;
$navbar: #2E8B57;

// hover 
$button-hover:#a6eef7;
$hover-font: #FF6347;
$hover-navbar: #b4ecf7;

// Background
$heading-bg: #93eab8;
$header-bg:#f0f8ff;
$navbar-bg: #dff2f6;
$main-bg: #F8F8FF;
$section-bg: #f8f8ff;
$aside-bg: #708090;
$footer-bg: #9FAFDF;
$button-bg: #8fcb8f;

// Width View
$desktop: 85%;
$laptop: 90%;
$tablet: 95%;
$mobile: 98%



