@import "../../styles/Variables.scss";

.footer {
  width: 100%;
  background-color: $footer-bg;
  padding-top: 1rem;
  color: white;

  .footer-sections-container {
    width: $laptop;
    max-width: 1024px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;

    .footer-title {
      font-size: 1.6rem;
    }

    .footer-list-items {
      line-height: 2rem;
      margin-top: 0.5rem;

      .list-item {
        display: flex;
        align-items: center;

        & a {
          display: flex;
          align-items: center;
          transition: 0.5s;
          color: white;

          &:hover {
            color: red;
          }

          .footer-icon {
            color: green;
            font-size: 1.6rem;
            margin-right: 0.5rem;
            transition: 0.5s;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }

  .footer-copyright {
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    color: white;

    .compyright {
      display: flex;
      align-items: center;
      font-size: $small-font-size;
    }

    .footer-logo {
      & img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
